<!DOCTYPE html>
<html>
  <head>
    <title>lolapp</title>
    <%= csrf_meta_tags %>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="jumbotron text-center">

      <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <%= link_to root_path, class: "navbar-brand" do %>
              <h2 class="display-1">Proloqueue</h1>
            <% end %>
          </div>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse" id="main-nav-collapse">
            <ul class="nav navbar-nav navbar-center">
              <li class="match_category"><%= link_to "Teams", '#' %></li>
              <li class="match_category"><%= link_to "Leagues", '#' %></li>
              <li class="match_category"><%= link_to "Champions", '#' %></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </nav>
    </div>
    <!-- Navbar begin -->



    <div class="container flash-container">
      <% flash.each do |type, msg| %>
        <%= content_tag :div, msg, class: "alert alert-#{type}" %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
